OT/cfg/schema/JAC/UKIRT/Michelle.xsd

<xsd:schema targetNamespace="http://omp.jach.hawaii.edu/schema"
	    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    xmlns:atx="http://omp.jach.hawaii.edu/schema" 
	    elementFormDefault="qualified">


<!-- Primitive types used for Michelle -->

<xsd:simpleType name="michelleCameraList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="imaging"/>
    <xsd:enumeration value="spectroscopy"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleConfigTypesList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="Normal"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleDarkFilterList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="Blank"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleDisperserList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="LowQ"/>
    <xsd:enumeration value="MedN2"/>
    <xsd:enumeration value="MedN1"/>
    <xsd:enumeration value="Echelle"/>
    <xsd:enumeration value="LowN"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleFilterList">
  <xsd:restriction base="xsd:string">
    <xsd:pattern value="IP?105B53"/>
    <xsd:pattern value="IP?79B10"/>
    <xsd:pattern value="IP?88B10"/>
    <xsd:pattern value="IP?97B10"/>
    <xsd:pattern value="IP?103B10"/>
    <xsd:pattern value="IP?116B9"/>
    <xsd:pattern value="IP?125B9"/>
    <xsd:pattern value="IP?107B4"/>
    <xsd:pattern value="IP?128B2"/>
    <xsd:pattern value="IP?209B42"/>
    <xsd:pattern value="IP?185B9"/>
    <xsd:pattern value="NP?Block"/>
    <xsd:pattern value="QP?Block"/>
    <xsd:pattern value="IP?22B15"/>
    <xsd:pattern value="IP?34B9"/>
    <xsd:pattern value="IP?47B5"/>
    <xsd:pattern value="WCalLowN"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleOTFilterList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="F105B53"/>
    <xsd:enumeration value="F79B10"/>
    <xsd:enumeration value="F88B10"/>
    <xsd:enumeration value="F97B10"/>
    <xsd:enumeration value="F103B10"/>
    <xsd:enumeration value="F116B9"/>
    <xsd:enumeration value="F125B9"/>
    <xsd:enumeration value="F107B4"/>
    <xsd:enumeration value="F128B2"/>
    <xsd:enumeration value="F209B42"/>
    <xsd:enumeration value="F185B9"/>
    <xsd:enumeration value="NBlock"/>
    <xsd:enumeration value="QBlock"/>
    <xsd:enumeration value="F22B15"/>
    <xsd:enumeration value="F34B9"/>
    <xsd:enumeration value="F47B5"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleFilterCategoryList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="Nband"/>
    <xsd:enumeration value="Qband"/>
    <xsd:enumeration value="Special"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleFlatSourceList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="shutter"/>
    <xsd:enumeration value="hot sphere"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleCalTypeList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="Flat"/>
    <xsd:enumeration value="Arc"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleMaskList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="1_pixel"/>
    <xsd:enumeration value="2_pixels"/>
    <xsd:enumeration value="3_pixels"/>
    <xsd:enumeration value="4_pixels"/>
    <xsd:enumeration value="6_pixels"/>
    <xsd:enumeration value="8_pixels"/>
    <xsd:enumeration value="16_pixels"/>
    <xsd:enumeration value="pinholeMask"/>
 </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleModeList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="STARE"/>
    <xsd:enumeration value="NDSTARE"/>
    <xsd:enumeration value="CHOP"/>
    <xsd:enumeration value="NDCHOP"/>
 </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleSamplingList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="as object"/>
    <xsd:enumeration value="1x1"/>
    <xsd:enumeration value="1x2"/>
    <xsd:enumeration value="2x1"/>
    <xsd:enumeration value="2x2"/>
    <xsd:enumeration value="3x1"/>
    <xsd:enumeration value="3x2"/>
    <xsd:enumeration value="4x1"/>
    <xsd:enumeration value="4x2"/>
 </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleWaveformList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="starev13big"/>
    <xsd:enumeration value="starev11big"/>
    <xsd:enumeration value="ndrv11big"/>
    <xsd:enumeration value="ndrv11small"/>
 </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleWaveplateList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="none"/>
    <xsd:enumeration value="wp_N"/>
    <xsd:enumeration value="wp_Q"/>
 </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleWavelengthLimits">
  <xsd:restriction base="atx:nonNegativeDecimal">
    <xsd:minInclusive value="10.0"/>
    <xsd:maxInclusive value="20.0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleChopDelayLimits">
  <xsd:restriction base="atx:nonNegativeDecimal">
    <xsd:maxInclusive value="0.02"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleChopFrequencyLimits">
  <xsd:restriction base="atx:nonNegativeDecimal">
    <xsd:maxInclusive value="100.0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleExpTimeLimit">
  <xsd:restriction base="atx:nonNegativeDecimal">
    <xsd:maxInclusive value="6.0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michelleMaskAngleLimits">
  <xsd:restriction base="atx:degrees180">
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="michellePALimits">
  <xsd:restriction base="atx:degrees180">
  </xsd:restriction>
</xsd:simpleType>

<!-- Complex types types used for Michelle -->

<!-- Groups used for Michelle -->

<!-- Michelle elements -->

<xsd:element name="SpInstMichelle">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element ref="atx:meta_gui_collapsed" minOccurs="0"/>
      <xsd:element ref="atx:meta_gui_selected"  minOccurs="0"/>
      <xsd:element ref="atx:meta_unique"        minOccurs="0"/>
      <xsd:element ref="atx:meta_version"       minOccurs="0"/>
      <xsd:element name="camera"                type="atx:michelleCameraList"/>
      <xsd:element name="centralWavelength"     type="atx:michelleWavelengthLimits"/>
      <xsd:element name="chopDelay"             type="atx:michelleChopDelayLimits"/>
      <xsd:element name="chopFrequency"         type="atx:michelleChopFrequencyLimits"/>
      <xsd:element  ref="atx:coadds"/>
      <xsd:element name="configType"            type="atx:michelleConfigTypesList"/>
      <xsd:element name="darkFilter"            type="atx:michelleDarkFilterList"/>
      <xsd:element name="disperser"             type="atx:michelleDisperserList"/>
      <xsd:element name="dutyCycle"             type="atx:positiveDecimal"/>
      <xsd:element name="exposureTime"          type="atx:michelleExpTimeLimit"/>
      <xsd:element name="filter"                type="atx:michelleFilterList"/>
      <xsd:element name="filterCategory"        type="atx:michelleFilterCategoryList"/>
      <xsd:element name="filterOT"              type="atx:michelleOTFilterList"/>
      <xsd:element name="idlePeriod"            type="atx:positiveDecimal"/>
      <xsd:element name="instAper">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value"  type="xsd:double" 
			 minOccurs="4" maxOccurs="4"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="instPntgOffset">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value"  type="xsd:double" 
			 minOccurs="2" maxOccurs="2"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="instPort"         type="atx:ukirtPortsList"/>
      <xsd:element name="mask"             type="atx:michelleMaskList"/>
      <xsd:element name="maskAngle"        type="atx:michelleMaskAngleLimits"/>
      <xsd:element name="mode"             type="atx:michelleModeList"/>
      <xsd:element name="mustIdles"        type="xsd:nonNegativeInteger"/>
      <xsd:element name="nreads"           type="xsd:nonNegativeInteger"/>
      <xsd:element name="nresets"          type="xsd:nonNegativeInteger"/>
      <xsd:element name="nullCycles"       type="xsd:nonNegativeInteger"/>
      <xsd:element name="nullExposures"    type="xsd:nonNegativeInteger"/>
      <xsd:element name="nullReads"        type="xsd:nonNegativeInteger"/>
      <xsd:element name="obsTimeOT"        type="atx:positiveDecimal"/>
      <xsd:element name="observationTime"  type="atx:positiveDecimal"/>
      <xsd:element name="order"            type="xsd:nonNegativeInteger"/>
      <xsd:element name="pixelFOV"         type="xsd:string"/>
      <xsd:element name="polarimetry"      type="atx:yesnoType"/>
      <xsd:element name="posAngle"         type="atx:michellePALimits" minOccurs="0"/>
      <xsd:element name="readInterval"     type="atx:nonNegativeDecimal"/>
      <xsd:element name="resetDelay"       type="atx:nonNegativeDecimal"/>
      <xsd:element name="sampling"         type="atx:michelleSamplingList"/>
      <xsd:element name="scienceArea"      type="xsd:anyType"/>
      <xsd:element name="spectralCoverage" type="xsd:anyType"          minOccurs="0"/>
      <xsd:element name="waveform"         type="atx:michelleWaveformList"/>
      <xsd:element name="waveplate"        type="atx:michelleWaveplateList"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:positiveInteger" use="optional"/>
    <xsd:attribute name="type"    type="atx:SpType" fixed="oc"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="inst.michelle"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterMichelleCalObs">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element ref="atx:meta_gui_collapsed" minOccurs="0"/>
      <xsd:element ref="atx:meta_gui_selected"  minOccurs="0"/>
      <xsd:element name="calType"               type="atx:michelleCalTypeList"/>
      <xsd:element name="chopDelay"             type="atx:michelleChopDelayLimits"/>
      <xsd:element name="chopFrequency"         type="atx:michelleChopFrequencyLimits"/>
      <xsd:element  ref="atx:coadds"/>
      <xsd:element name="dutyCycle"             type="atx:positiveDecimal"/>
      <xsd:element name="exposureTime"          type="atx:michelleExpTimeLimit"/>
      <xsd:element name="filter"                type="atx:michelleFilterList"/>
      <xsd:element name="flatSource"            type="atx:michelleFlatSourceList"/>
      <xsd:element name="idlePeriod"            type="atx:positiveDecimal"/>
      <xsd:element name="mode"             type="atx:michelleModeList"/>
      <xsd:element name="mustIdles"        type="xsd:nonNegativeInteger"/>
      <xsd:element name="nreads"           type="xsd:nonNegativeInteger"/>
      <xsd:element name="nresets"          type="xsd:nonNegativeInteger"/>
      <xsd:element name="nullCycles"       type="xsd:nonNegativeInteger"/>
      <xsd:element name="nullExposures"    type="xsd:nonNegativeInteger"/>
      <xsd:element name="nullReads"        type="xsd:nonNegativeInteger"/>
      <xsd:element name="obsTimeOT"        type="atx:positiveDecimal"/>
      <xsd:element name="observationTime"  type="atx:positiveDecimal"/>
      <xsd:element name="readInterval"     type="atx:nonNegativeDecimal"/>
      <xsd:element  ref="atx:repeatCount"/>
      <xsd:element name="resetDelay"       type="atx:nonNegativeDecimal"/>
      <xsd:element name="sampling"         type="atx:michelleSamplingList"/>
      <xsd:element name="waveform"         type="atx:michelleWaveformList"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:positiveInteger" use="optional"/>
    <xsd:attribute name="type"    type="atx:SpType" fixed="ic"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="MichelleCalObs"/>
  </xsd:complexType>
</xsd:element>

</xsd:schema>
