OT/cfg/jcmt/JCMTSchema.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- TYPE INFORMATION -->

<xsd:simpleType name="dms">
  <xsd:restriction base="xsd:string">
    <xsd:pattern value="( +)?(\+|\-)?\d{1,2}(:| )\d{1,2}(:| )\d{1,2}(\.\d+)?" />
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="approachType">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="rising"/>
    <xsd:enumeration value="setting"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="nonNegativeDecimal">
  <xsd:restriction base="xsd:double">
    <xsd:minInclusive value="0.0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="positiveDecimal">
  <xsd:restriction base="xsd:double">
    <xsd:minExclusive value="0.0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="degreeRangeTo180">
  <xsd:restriction base="xsd:double">
    <xsd:minInclusive value="-180.0"/>
    <xsd:maxInclusive value="180.0"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SpType">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="oc"/>
    <xsd:enumeration value="ic"/>
    <xsd:enumeration value="pr"/>
    <xsd:enumeration value="pl"/>
    <xsd:enumeration value="lb"/>
    <xsd:enumeration value="lf"/>
    <xsd:enumeration value="ob"/>
    <xsd:enumeration value="li"/>
    <xsd:enumeration value="fo"/>
    <xsd:enumeration value="og"/>
    <xsd:enumeration value="no"/>
    <xsd:enumeration value="of"/>
    <xsd:enumeration value="if"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="noiseSourceType">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="REFLECTOR"/>
    <xsd:enumeration value="SKY"/>
    <xsd:enumeration value="ZENITH"/>
    <xsd:enumeration value="ECCOSORB"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="velocityFrameReferenceType">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="LSRK"/>
    <xsd:enumeration value="Geocentric"/>
    <xsd:enumeration value="Heliocentric"/>
  </xsd:restriction>
</xsd:simpleType>


<!-- Valid values of priority -->
<xsd:simpleType name="priorityType">
  <xsd:restriction base="xsd:integer">
    <xsd:minInclusive value="1"/>
    <xsd:maxInclusive value="99"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- Valid axis directions for fucussing -->
<xsd:simpleType name="axisType">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="x"/>
    <xsd:enumeration value="y"/>
    <xsd:enumeration value="z"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- Coordinate system types -->
<xsd:simpleType name="SystemType">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="FPLANE"/>
    <xsd:enumeration value="TRACKING"/>
    <xsd:enumeration value="AZEL"/>
    <xsd:enumeration value="SCAN"/>
<!--
    Currently JCMY does not support the MOUNT system, but it is available
    in the OT, so I choose to leave it commented out.
    <xsd:enumeration value="MOUNT"/>
-->
  </xsd:restriction>
</xsd:simpleType>


<!-- Jiggle patter valids -->
<xsd:simpleType name="jiggleObsPatternType">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="DEFAULT"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- Jiggle patter valids -->
<xsd:simpleType name="jigglePatternType">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="DEFAULT"/>
    <xsd:enumeration value="3X3"/>
    <xsd:enumeration value="5X5"/>
    <xsd:enumeration value="7X7"/>
    <xsd:enumeration value="9X9"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="bolometerList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="LONG"/>
    <xsd:enumeration value="SHORT"/>
    <xsd:enumeration value="A1"/>
    <xsd:enumeration value="A2"/>
    <xsd:enumeration value="A3"/>
    <xsd:enumeration value="A4"/>
    <xsd:enumeration value="A5"/>
    <xsd:enumeration value="A6"/>
    <xsd:enumeration value="A7"/>
    <xsd:enumeration value="A8"/>
    <xsd:enumeration value="A9"/>
    <xsd:enumeration value="A10"/>
    <xsd:enumeration value="A11"/>
    <xsd:enumeration value="A12"/>
    <xsd:enumeration value="A13"/>
    <xsd:enumeration value="A14"/>
    <xsd:enumeration value="A15"/>
    <xsd:enumeration value="A16"/>
    <xsd:enumeration value="B1"/>
    <xsd:enumeration value="B2"/>
    <xsd:enumeration value="B3"/>
    <xsd:enumeration value="B4"/>
    <xsd:enumeration value="B5"/>
    <xsd:enumeration value="B6"/>
    <xsd:enumeration value="B7"/>
    <xsd:enumeration value="B8"/>
    <xsd:enumeration value="B9"/>
    <xsd:enumeration value="B10"/>
    <xsd:enumeration value="B11"/>
    <xsd:enumeration value="B12"/>
    <xsd:enumeration value="B13"/>
    <xsd:enumeration value="B14"/>
    <xsd:enumeration value="B15"/>
    <xsd:enumeration value="B16"/>
    <xsd:enumeration value="C1"/>
    <xsd:enumeration value="C2"/>
    <xsd:enumeration value="C3"/>
    <xsd:enumeration value="C4"/>
    <xsd:enumeration value="C5"/>
    <xsd:enumeration value="C6"/>
    <xsd:enumeration value="C7"/>
    <xsd:enumeration value="C8"/>
    <xsd:enumeration value="C9"/>
    <xsd:enumeration value="C10"/>
    <xsd:enumeration value="C11"/>
    <xsd:enumeration value="C12"/>
    <xsd:enumeration value="C13"/>
    <xsd:enumeration value="C14"/>
    <xsd:enumeration value="C15"/>
    <xsd:enumeration value="C16"/>
    <xsd:enumeration value="D1"/>
    <xsd:enumeration value="D2"/>
    <xsd:enumeration value="D3"/>
    <xsd:enumeration value="D4"/>
    <xsd:enumeration value="D5"/>
    <xsd:enumeration value="D6"/>
    <xsd:enumeration value="D7"/>
    <xsd:enumeration value="D8"/>
    <xsd:enumeration value="D9"/>
    <xsd:enumeration value="D10"/>
    <xsd:enumeration value="D11"/>
    <xsd:enumeration value="D12"/>
    <xsd:enumeration value="D13"/>
    <xsd:enumeration value="D14"/>
    <xsd:enumeration value="D15"/>
    <xsd:enumeration value="D16"/>
    <xsd:enumeration value="E1"/>
    <xsd:enumeration value="E2"/>
    <xsd:enumeration value="E3"/>
    <xsd:enumeration value="E4"/>
    <xsd:enumeration value="E5"/>
    <xsd:enumeration value="E6"/>
    <xsd:enumeration value="E7"/>
    <xsd:enumeration value="E8"/>
    <xsd:enumeration value="E9"/>
    <xsd:enumeration value="E10"/>
    <xsd:enumeration value="E11"/>
    <xsd:enumeration value="E12"/>
    <xsd:enumeration value="E13"/>
    <xsd:enumeration value="E14"/>
    <xsd:enumeration value="E15"/>
    <xsd:enumeration value="E16"/>
    <xsd:enumeration value="F1"/>
    <xsd:enumeration value="F2"/>
    <xsd:enumeration value="F3"/>
    <xsd:enumeration value="F4"/>
    <xsd:enumeration value="F5"/>
    <xsd:enumeration value="F6"/>
    <xsd:enumeration value="F7"/>
    <xsd:enumeration value="F8"/>
    <xsd:enumeration value="F9"/>
    <xsd:enumeration value="F10"/>
    <xsd:enumeration value="F11"/>
    <xsd:enumeration value="G1"/>
    <xsd:enumeration value="G3"/>
    <xsd:enumeration value="G4"/>
    <xsd:enumeration value="G6"/>
    <xsd:enumeration value="G7"/>
    <xsd:enumeration value="G8"/>
    <xsd:enumeration value="G9"/>
    <xsd:enumeration value="G10"/>
    <xsd:enumeration value="G11"/>
    <xsd:enumeration value="G13"/>
    <xsd:enumeration value="G14"/>
    <xsd:enumeration value="G15"/>
    <xsd:enumeration value="G16"/>
    <xsd:enumeration value="H1"/>
    <xsd:enumeration value="H2"/>
    <xsd:enumeration value="H4"/>
    <xsd:enumeration value="H5"/>
    <xsd:enumeration value="H6"/>
    <xsd:enumeration value="H7"/>
    <xsd:enumeration value="H8"/>
    <xsd:enumeration value="H9"/>
    <xsd:enumeration value="H10"/>
    <xsd:enumeration value="H11"/>
    <xsd:enumeration value="H12"/>
    <xsd:enumeration value="H13"/>
    <xsd:enumeration value="H14"/>
    <xsd:enumeration value="H15"/>
    <xsd:enumeration value="H16"/>
    <xsd:enumeration value="I1"/>
    <xsd:enumeration value="I2"/>
    <xsd:enumeration value="I3"/>
    <xsd:enumeration value="I4"/>
    <xsd:enumeration value="I5"/>
    <xsd:enumeration value="I6"/>
    <xsd:enumeration value="I7"/>
    <xsd:enumeration value="I8"/>
    <xsd:enumeration value="I9"/>
    <xsd:enumeration value="P2000"/>
    <xsd:enumeration value="P1350"/>
    <xsd:enumeration value="P1100"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="filterList">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="450W:850W"/>
    <xsd:enumeration value="PHOT"/>
    <xsd:enumeration value="350:750"/>
  </xsd:restriction>
</xsd:simpleType>

 <xsd:element name='bolometers'>
  <xsd:complexType mixed='true'>
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:choice>
          <xsd:element ref='value' minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
 </xsd:element>


<xsd:complexType name="conicSystemType">
  <xsd:all>
    <xsd:element name="epoch">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="nonNegativeDecimal">
            <xsd:attribute name="units" type="xsd:string" fixed="days"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="inclination">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="degreeRangeTo180">
            <xsd:attribute name="units" type="xsd:string" fixed="degrees"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="anode">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="units" type="xsd:string" fixed="degrees"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="perihelion">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="units" type="xsd:string" fixed="degrees"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="aorq">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="units" type="xsd:string" fixed="au"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="LorM">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="units" type="xsd:string" fixed="degrees"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="n">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="units" type="xsd:string" fixed="degrees/day"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="epochPerih" minOccurs="0">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="units" type="xsd:string" fixed="days"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="e" type="xsd:double"/>
  </xsd:all>
</xsd:complexType>

<!-- SIMPLE BASAL ELEMENTS -->
<xsd:element name="integrations" type="xsd:positiveInteger"/>
<xsd:element name="meta_gui_collapsed" type="xsd:boolean"/>
<xsd:element name="meta_gui_filename" type="xsd:string"/>
<xsd:element name="meta_gui_hasBeenSaved" type="xsd:boolean"/>
<xsd:element name="meta_gui_dir" type="xsd:boolean"/>
<xsd:element name="meta_gui_selectedOffsetPos" type="xsd:string"/>
<xsd:element name="meta_unique" type="xsd:boolean"/>
<xsd:element name="repeatCount" type="xsd:positiveInteger"/>
<xsd:element name="iterConfigList" type="xsd:string" fixed="POLIter"/>
<xsd:element name="standard" type="xsd:boolean"/>
<xsd:element name="msbid" type="xsd:hexBinary"/>
<xsd:element name="project" type="xsd:string"/>
<xsd:element name="priority" type="priorityType"/>
<xsd:element name="title" type="xsd:string"/>
<xsd:element name="country" type="xsd:string"/>
<xsd:element name="projectID" type="xsd:string"/>
<xsd:element name="pi" type="xsd:string"/>
<xsd:element name='value' type="bolometerList"/>
<xsd:element name='chainedToPrev' type="xsd:boolean"/>
<xsd:element name='chainedToNext' type="xsd:boolean"/>
<xsd:element name="secsPerCycle" type="xsd:positiveInteger"/>
<xsd:element name="ot_version" type="xsd:string"/>
<xsd:element name="library_version" type="xsd:string"/>
<xsd:element name="remote_trigger_src" type="xsd:string"/>
<xsd:element name="remote_trigger_id"  type="xsd:string"/>
<xsd:element name="mincl" type="xsd:string/>

<!-- ELEMENT REFERENCES -->
<xsd:element name="SpSiteQualityObsCompRef">
  <xsd:complexType>
    <xsd:attribute name="idref" type="xsd:nonNegativeInteger"/>
  </xsd:complexType>
</xsd:element>
<xsd:element name="SpSchedConstObsCompRef">
  <xsd:complexType>
    <xsd:attribute name="idref" type="xsd:nonNegativeInteger"/>
  </xsd:complexType>
</xsd:element>
<xsd:element name="SpInstHeterodyneRef">
  <xsd:complexType>
    <xsd:attribute name="idref" type="xsd:nonNegativeInteger"/>
  </xsd:complexType>
</xsd:element>
<xsd:element name="SpTelescopeObsCompRef">
  <xsd:complexType>
    <xsd:attribute name="idref" type="xsd:nonNegativeInteger"/>
  </xsd:complexType>
</xsd:element>
<xsd:element name="SpNoteRef">
  <xsd:complexType>
    <xsd:attribute name="idref" type="xsd:nonNegativeInteger"/>
  </xsd:complexType>
</xsd:element>


<!-- COMPLEX BASAL ELEMENTS -->
<xsd:element name="switchingMode">
  <xsd:simpleType>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Beam"/>
      <xsd:enumeration value="Position"/>
      <xsd:enumeration value="Frequency-Slow"/>
      <xsd:enumeration value="Frequency-Fast"/>
      <xsd:enumeration value="None"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:element>


<!-- Estimated Duration -->
<xsd:element name="estimatedDuration">
  <xsd:complexType>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="units" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:element>

<!-- Target information -->
<xsd:element name="target">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="targetName" type="xsd:string"/>
      <xsd:choice>
        <xsd:element name="namedSystem">
          <xsd:complexType>
            <xsd:attribute name="TYPE" type="xsd:string" fixed="major"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="spherSystem">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="c1" type="dms"/>
              <xsd:element name="c2" type="dms"/>
<!--
              <xsd:element name="pm1" minOccurs="0">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:double">
                      <xsd:attribute name="units" type="xsd:string"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="pm2" minOccurs="0">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:double">
                      <xsd:attribute name="units" type="xsd:string"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
-->
            </xsd:all>
            <xsd:attribute name="SYSTEM">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="J2000"/>
                  <xsd:enumeration value="B1950"/>
                  <xsd:enumeration value="Az/El"/>
                  <xsd:enumeration value="Galactic"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="conicSystem">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="conicSystemType">
                <xsd:attribute name="TYPE">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="major"/>
                      <xsd:enumeration value="minor"/>
                      <xsd:enumeration value="comet"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:group name="BASEGroup">
  <xsd:sequence>
      <xsd:element name="BASE" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="target"/>
            <xsd:element name="OFFSET" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="DC1" type="xsd:double"/>
                  <xsd:element name="DC2" type="xsd:double"/>
                </xsd:sequence>
                <xsd:attribute name="SYSTEM">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="J2000"/>
                      <xsd:enumeration value="B1950"/>
                      <xsd:enumeration value="Az/El"/>
                      <xsd:enumeration value="Galactic"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="TYPE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="SCIENCE"/>
                <xsd:enumeration value="REFERENCE"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>  
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="meta_gui_selectedTelescopePos" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
</xsd:group>



<!-- Observational Area -->
<xsd:element name="obsArea">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="PA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="-360.0"/>
            <xsd:maxInclusive value="360.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="SCAN_AREA">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AREA">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:restriction base="xsd:anyType">
                      <xsd:attribute name="HEIGHT" type="xsd:double"/>
                      <xsd:attribute name="WIDTH" type="xsd:double"/>
                    </xsd:restriction>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="SCAN">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PA" minOccurs="0" maxOccurs="unbounded">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:double">
                          <xsd:minInclusive value="-360.0"/>
                          <xsd:maxInclusive value="360.0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="DY" type="positiveDecimal"/>
                  <xsd:attribute name="VELOCITY" type="positiveDecimal"/>
                  <xsd:attribute name="SYSTEM" type="SystemType"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="OFFSET" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DC1" type="xsd:double"/>
              <xsd:element name="DC2" type="xsd:double"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<!-- SMU chop -->
<xsd:element name="SECONDARY">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="CHOP" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="THROW">
              <xsd:simpleType>
                <xsd:restriction base="xsd:double">
                  <xsd:minInclusive value="0.0"/>
                  <xsd:maxInclusive value="200.0"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PA">
              <xsd:simpleType>
                <xsd:restriction base="xsd:double">
                  <xsd:minInclusive value="-3600.0"/>
                  <xsd:maxInclusive value="360.0"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="SYSTEM" type="SystemType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>


<!-- Polarization iterator information -->
<xsd:element name="POLIter">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="value" minOccurs="1" maxOccurs="unbounded" default="0.0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="360.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<!-- Heterodyne front end configuration -->
<xsd:element name="frontend_configure">
  <xsd:complexType>
    <xsd:all>
      <xsd:element name="rest_frequency">
        <xsd:complexType>
          <xsd:attribute name="units" type="xsd:string" fixed="GHz"/>
          <xsd:attribute name="value" type="xsd:double"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="if_centre_freq">
        <xsd:complexType>
          <xsd:attribute name="units" type="xsd:string" fixed="GHz"/>
          <xsd:attribute name="value" type="xsd:double"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sideband">
        <xsd:complexType>
          <xsd:attribute name="value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:enumeration value="-1"/>
                <xsd:enumeration value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sb_mode">
        <xsd:complexType>
          <xsd:attribute name="value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="DSB"/>
                <xsd:enumeration value="SSB"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="freq_offset_scale">
        <xsd:complexType>
          <xsd:attribute name="units" type="xsd:string" fixed="MHz"/>
          <xsd:attribute name="value" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doppler_tracking">
        <xsd:complexType>
          <xsd:attribute name="value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="ON"/>
                <xsd:enumeration value="OFF"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="optimize">
        <xsd:complexType>
          <xsd:attribute name="value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="ENABLE"/>
                <xsd:enumeration value="DISABLE"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:element>

<xsd:element name="line_list">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="rest_frequency" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:double">
              <xsd:attribute name="id" type="xsd:string"/>
              <xsd:attribute name="units" type="xsd:string" fixed="GHz"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="acsis_spw_list">
  <xsd:complexType>
    <xsd:all>
      <xsd:element name="doppler_field">
        <xsd:complexType>
          <xsd:attribute name="ref" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="spectral_window_id_field">
        <xsd:complexType>
          <xsd:attribute name="ref" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="front_end_lo_freq_field">
        <xsd:complexType>
          <xsd:attribute name="ref" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="spectral_window">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="spw_bandwidth_mode">
              <xsd:complexType>
                <xsd:attribute name="mode" type="xsd:string"/>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="spw_window">
              <xsd:complexType>
                <xsd:attribute name="type" type="xsd:string"/>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="rest_frequency_ref">
              <xsd:complexType>
                <xsd:attribute name="ref" type="xsd:string"/>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="front_end_sideband">
              <xsd:complexType>
                <xsd:attribute name="sideband">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:double">
                      <xsd:enumeration value="-1"/>
                      <xsd:enumeration value="1"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="spw_if_coordinate">
              <xsd:complexType>
                <xsd:all>
                  <xsd:element name="spw_reference_if_frequency">
                    <xsd:complexType>
                      <xsd:simpleContent>
                        <xsd:extension base="xsd:double">
                          <xsd:attribute name="units" type="xsd:string" fixed="GHz"/>
                        </xsd:extension>
                      </xsd:simpleContent>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="spw_reference_pixel" type="xsd:anyType"/>
                  <xsd:element name="spw_if_channel_width">
                    <xsd:complexType>
                      <xsd:simpleContent>
                        <xsd:extension base="xsd:double">
                          <xsd:attribute name="units" type="xsd:string" fixed="Hz"/>
                        </xsd:extension>
                      </xsd:simpleContent>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="spw_number_if_channel" type="xsd:integer"/>
                </xsd:all>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
          <xsd:attribute name="id" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:element>


<!-- JCMT configuration for heterodyne -->
<xsd:element name="jcmt_config">
  <xsd:complexType>
    <xsd:all>
      <xsd:element ref="frontend_configure"/>
      <xsd:element ref="line_list"/>
      <xsd:element ref="acsis_spw_list"/>
    </xsd:all>
  </xsd:complexType>
</xsd:element>




<!-- OBSERVE EYES  -->
<xsd:element name="SpIterFocusObs">
  <xsd:complexType>
    <xsd:all>
      <xsd:element name="steps">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="2.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ref="meta_gui_collapsed" minOccurs="0"/>
      <xsd:element name="axis"        type="axisType"/>
      <xsd:element name="focusPoints" type="xsd:positiveInteger"/>
      <xsd:element name="autoTarget"  type="xsd:boolean"/>
      <xsd:element ref="integrations"/>
<!-- The follwoing are only required for heterodyne observations -->
      <xsd:element ref="switchingMode" minOccurs="0"/>
      <xsd:element ref="secsPerCycle"  minOccurs="0"/>
      <xsd:element name="noOfCycles"    type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="cycleReversal" type="xsd:boolean"            minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="type" type="SpType" fixed="ic"/>
    <xsd:attribute name="subtype" type="xsd:NMTOKEN" fixed="focusObs" use="optional"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterJiggleObs">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="integrations" type="xsd:positiveInteger"/>
      <xsd:element name="jigglePattern" type="jigglePatternType"/>
      <xsd:element name="meta_gui_collapsed" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  <xsd:attribute name="type" type="SpType" fixed="ic"/>
  <xsd:attribute name="subtype" type="xsd:string" fixed="jiggleObs"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterSkydipObs">
  <xsd:complexType>
    <xsd:all>
      <xsd:element ref="integrations"/>
      <xsd:element name="startPosition">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Zenith"/>
            <xsd:enumeration value="Horizon"/>
            <xsd:enumeration value="Automatic"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="positions" type="xsd:nonNegativeInteger"/>
      <xsd:element name="useCurrentAz" type="xsd:boolean" minOccurs="0"/>
      <xsd:element ref="meta_gui_collapsed" minOccurs="0"/>
<!-- The following are required for heterodyne observations -->
      <xsd:element ref="switchingMode" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="type" type="SpType" fixed="ic"/>
    <xsd:attribute name="subtype" type="xsd:NMTOKEN" fixed="skydipObs" use="optional"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterPointingObs">
  <xsd:complexType>
    <xsd:all>
      <xsd:element ref="integrations"/>
      <xsd:element name="pointingPixel" type="xsd:string" minOccurs="0"/>
      <xsd:element name="autoTarget" type="xsd:boolean"/>
      <xsd:element ref="meta_gui_collapsed" minOccurs="0"/>
<!-- The following are required for heterodyne observations -->
      <xsd:element ref="switchingMode" minOccurs="0"/>
      <xsd:element name="spectralMode" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="spectralLine"/>
            <xsd:enumeration value="continuum"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="noOfCycles" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element ref="secsPerCycle" minOccurs="0"/>
      <xsd:element name="pointingMethod" type="xsd:string" fixed="5-point" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="type" type="SpType" fixed="ic"/>
    <xsd:attribute name="subtype" type="xsd:NMTOKEN" fixed="pointingObs" use="optional"/>
  </xsd:complexType>
</xsd:element>


<xsd:element name="SpIterNoiseObs">
  <xsd:complexType>
    <xsd:all>
      <xsd:element ref="meta_gui_collapsed" minOccurs="0"/>
      <xsd:element ref="integrations"/>
      <xsd:element name="noiseSource" type="noiseSourceType"/>
<!-- The following are required for heterodyne observations -->
      <xsd:element ref="switchingMode" minOccurs="0"/>
      <xsd:element name="frequencyOffset.rate"  type="nonNegativeDecimal" minOccurs="0"/>
      <xsd:element name="frequencyOffset.throw" type="nonNegativeDecimal" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="type" type="SpType" fixed="ic"/>
    <xsd:attribute name="subtype" type="xsd:NMTOKEN" fixed="noiseObs" use="optional"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterStareObs">
  <xsd:complexType>
    <xsd:all>
      <xsd:element ref="integrations"/>
      <xsd:element name="widePhotometry"  type="xsd:boolean" minOccurs="0"/>
      <xsd:element ref="meta_gui_collapsed" minOccurs="0"/>
<!-- The following are required for heterodyne observations -->
      <xsd:element ref="switchingMode" minOccurs="0"/>
      <xsd:element name="noOfCycles"            type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element ref="secsPerCycle"           minOccurs="0"/>
      <xsd:element name="frequencyOffset.rate"  type="positiveDecimal"     minOccurs="0"/>
      <xsd:element name="frequencyOffset.throw" type="positiveDecimal"     minOccurs="0"/>
      <xsd:element name="cycleReversal"         type="xsd:boolean"            minOccurs="0"/>
      <xsd:element name="continuousCal"         type="xsd:boolean"            minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="type" type="SpType" fixed="ic"/>
    <xsd:attribute name="subtype" type="xsd:NMTOKEN" fixed="stareObs"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterRasterObs">
  <xsd:complexType>
    <xsd:all>
      <xsd:element ref="integrations"/>
      <xsd:element ref="obsArea"/>
      <xsd:element ref="meta_gui_collapsed" minOccurs="0"/>
<!-- The following are required for heterodyne observations -->
      <xsd:element ref="switchingMode" minOccurs="0"/>
      <xsd:element name="rowsPerCal" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="rowsPerRef" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="sampleTime" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="4"/>
            <xsd:maxInclusive value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  <xsd:attribute name="type" type="SpType" fixed="ic"/>
  <xsd:attribute name="subtype" type="xsd:string" fixed="rasterObs"/>
  </xsd:complexType>
</xsd:element>

<!-- ITERATORS -->
<xsd:element name="SpIterChop">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  <xsd:attribute name="type" type="xsd:string" fixed="ic"/>
  <xsd:attribute name="subtype" type="xsd:string" fixed="chop"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterPOL">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  <xsd:attribute name="type" type="xsd:string" fixed="ic"/>
  <xsd:attribute name="subtype" type="xsd:string" fixed="instPOL"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterRepeat">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  <xsd:attribute name="type" type="xsd:string" fixed="ic"/>
  <xsd:attribute name="subtype" type="xsd:string" fixed="repeat"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterOffset">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  <xsd:attribute name="type" type="xsd:string" fixed="ic"/>
  <xsd:attribute name="subtype" type="xsd:string" fixed="offset"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterFrequency">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  <xsd:attribute name="type" type="xsd:string" fixed="ic"/>
  <xsd:attribute name="subtype" type="xsd:string" fixed="frequency"/>
  </xsd:complexType>
</xsd:element>



<!-- COMPONENTS -->
<!-- Schedule constraints -->
<xsd:element name="SpSchedConstObsComp">
  <xsd:complexType>
    <xsd:all>
      <xsd:element name="meta_unique" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="meta_gui_collapsed" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="earliest" type="xsd:string"/>
      <xsd:element name="latest" type="xsd:string"/>
      <xsd:element name="maxEl" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="5.0"/>
            <xsd:maxInclusive value="89.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="minEl" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="5.0"/>
            <xsd:maxInclusive value="89.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="period" type="nonNegativeDecimal" minOccurs="0"/>
      <xsd:element name="meridianApproach" type="approachType" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="type" type="xsd:string" fixed="oc"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="schedConstraints"/>
    <xsd:attribute name="id" type="xsd:nonNegativeInteger" use="optional"/>
  </xsd:complexType>
</xsd:element>

<!-- Site Quality Component -->
<xsd:element name="SpSiteQualityObsComp">
  <xsd:complexType>
    <xsd:all>
      <xsd:element name="min" type="xsd:string" minOccurs="0"/>
      <xsd:element name="seeing" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="min">
              <xsd:simpleType>
                <xsd:restriction base="xsd:double">
                  <xsd:minInclusive value="0.0"/>
                  <xsd:maxInclusive value="10.0"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="max">
              <xsd:simpleType>
                <xsd:restriction base="xsd:double">
                  <xsd:minInclusive value="0.0"/>
                  <xsd:maxInclusive value="10.0"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="noiseCalculationTau">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="0.5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="meta_unique" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="meta_gui_collapsed" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="csoTau" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="min">
              <xsd:simpleType>
                <xsd:restriction base="xsd:double">
                  <xsd:minInclusive value="0.0"/>
                  <xsd:maxInclusive value="0.5"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="max">
              <xsd:simpleType>
                <xsd:restriction base="xsd:double">
                  <xsd:minInclusive value="0.0"/>
                  <xsd:maxInclusive value="0.5"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
<!--
      <xsd:element name="min" type="xsd:double" minOccurs="0"/>
-->
    </xsd:all>
    <xsd:attribute name="id" type="xsd:nonNegativeInteger" use="optional"/>
    <xsd:attribute name="type" type="SpType"/>
    <xsd:attribute name="subtype" type="xsd:string"/>
  </xsd:complexType>
</xsd:element>


<!-- Target Information Component -->
<xsd:element name="SpTelescopeObsComp">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element ref="meta_unique" minOccurs="0"/>
      <xsd:element ref="meta_gui_collapsed" minOccurs="0"/>
      <xsd:group   ref="BASEGroup" minOccurs="0" maxOccurs="unbounded"/>
<!--
      <xsd:element name="BASE" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="target"/>
            <xsd:element name="OFFSET" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="DC1" type="xsd:double"/>
                  <xsd:element name="DC2" type="xsd:double"/>
                </xsd:sequence>
                <xsd:attribute name="SYSTEM">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="J2000"/>
                      <xsd:enumeration value="B1950"/>
                      <xsd:enumeration value="Az/El"/>
                      <xsd:enumeration value="Galactic"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="TYPE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="SCIENCE"/>
                <xsd:enumeration value="REFERENCE"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>  
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="meta_gui_selectedTelescopePos" type="xsd:string" minOccurs="0"/>
-->
    </xsd:sequence>
    <xsd:attribute name="type" type="SpType" fixed="oc"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="targetList"/>
    <xsd:attribute name="id" type="xsd:nonNegativeInteger" use="optional"/>
  </xsd:complexType>
</xsd:element>

<!-- Heterodyne instrument componenbt -->
<xsd:element name="SpInstHeterodyne">
  <xsd:complexType>
    <xsd:all>
      <xsd:element ref="meta_unique" minOccurs="0"/>
      <xsd:element ref="meta_gui_collapsed" minOccurs="0"/>
      <xsd:element name="velocityDefinition">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="radio"/>
            <xsd:enumeration value="redshift"/>
            <xsd:enumeration value="optical"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="feName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A3"/>
            <xsd:enumeration value="WB"/>
            <xsd:enumeration value="WC"/>
            <xsd:enumeration value="WD"/>
            <xsd:enumeration value="HARP"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="dsb"/>
            <xsd:enumeration value="ssb"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="bandMode" type="xsd:string" fixed="1-system"/>
      <xsd:element name="mixers">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Single Mixer"/>
            <xsd:enumeration value="Dual Mixer"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="band">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="usb"/>
            <xsd:enumeration value="lsb"/>
            <xsd:enumeration value="best"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="channels" type="xsd:integer"/>
      <xsd:element name="centreFrequency" type="xsd:double"/>
      <xsd:element name="overlap">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="3.5E7"/>
            <xsd:enumeration value="7.0E7"/>
            <xsd:enumeration value="1.4E8"/>
            <xsd:enumeration value="5.2E8"/>
            <xsd:enumeration value="3.6E8"/>
            <xsd:enumeration value="7.2E8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="bandWidth">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1.25E8"/>
            <xsd:enumeration value="2.5E8"/>
            <xsd:enumeration value="5.0E8"/>
            <xsd:enumeration value="7.6E8"/>
            <xsd:enumeration value="9.2E8"/>
            <xsd:enumeration value="1.84E9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="molecule"      type="xsd:string"/>
      <xsd:element name="transition"    type="xsd:string"/>
      <xsd:element name="restFrequency" type="xsd:double"/>
      <xsd:element name="velocity"      type="xsd:double"/>
      <xsd:element name="referenceFrameVelocity" type="xsd:double" minOccurs="0"/>
      <xsd:element name="configuration" type="xsd:string" minOccurs="0"/>
      <xsd:element name="velocityFrame" type="velocityFrameReferenceType"/>
      <xsd:element name="skyFrequency"  type="xsd:double" minOccurs="0"/>
      <xsd:element name="beName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="das"/>
            <xsd:enumeration value="acsis"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ref="jcmt_config"/>
    </xsd:all>
    <xsd:attribute name="type" type="SpType" fixed="oc"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="inst.Heterodyne"/>
    <xsd:attribute name="id" type="xsd:integer" use="optional"/>
  </xsd:complexType>
</xsd:element>

<!--  NOTES -->
<xsd:element name="SpNote">
  <xsd:complexType>
    <xsd:all>
      <xsd:element name="title" type="xsd:string" minOccurs="0"/>
      <xsd:element name="meta_gui_collapsed" type="xsd:string" minOccurs="0"/>
      <xsd:element name="completionParameter" type="xsd:string" minOccurs="0"/>
      <xsd:element name="binning" type="xsd:string" minOccurs="0"/>
      <xsd:element name="note" type="xsd:string"/>
    </xsd:all>
    <xsd:attribute name="id" type="xsd:nonNegativeInteger" use="optional"/>
    <xsd:attribute name="type"  type="xsd:string"/>
    <xsd:attribute name="subtype" type="xsd:string"/>
    <xsd:attribute name="observeInstruction" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>
</xsd:element>


<!--  FOLDERS -->

<xsd:element name="SpOR">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="numberOfItems" type="xsd:nonNegativeInteger"/>
    <xsd:attribute name="type" type="SpType" fixed="of"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="or"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpAND">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="SpType" fixed="fo"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="and"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpIterFolder">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="SpType" fixed="if"/>
    <xsd:attribute name="subtype" type="xsd:string"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpLibraryFolder">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="SpType" fixed="lf"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="none"/>
  </xsd:complexType>
</xsd:element>


<xsd:element name="SpObs">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="msb" type="xsd:boolean"/>
    <xsd:attribute name="optional" type="xsd:boolean"/>
    <xsd:attribute name="remaining">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="-999|[0-9]+"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="type" type="SpType" fixed="ob"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="none"/>
    <xsd:attribute name="obsnum" type="xsd:nonNegativeInteger" use="optional"/>
    <xsd:attribute name="checksum" type="xsd:string" use="optional"/>
    <xsd:attribute name="suspend" type="xsd:boolean" use="optional"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpMSB">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="checksum" type="xsd:string" use="optional"/>
    <xsd:attribute name="suspend" type="xsd:string" use="optional"/>
    <xsd:attribute name="remaining">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="-999|[0-9]+"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="type" type="SpType" fixed="og"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="msb"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpProg">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="SpType" fixed="pr"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="none"/>
    <xsd:attribute name="timestamp" type="xsd:positiveInteger" use="optional"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="SpLibrary">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="SpType" fixed="lb"/>
    <xsd:attribute name="subtype" type="xsd:string" fixed="none"/>
  </xsd:complexType>
</xsd:element>

</xsd:schema>
