JAC/JCMT/JCMTinstruments.xsd

<xsd:schema targetNamespace="http://omp.jach.hawaii.edu/schema"
	    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    xmlns:atx="http://omp.jach.hawaii.edu/schema" 
	    elementFormDefault="qualified">

<xsd:include schemaLocation="SCUBA.xsd"/>
<xsd:include schemaLocation="Heterodyne.xsd"/>

<xsd:group name="instrumentGroup">
  <xsd:choice>
    <xsd:element ref="atx:SpInstHeterodyne"/>
    <xsd:element ref="atx:SpInstSCUBA"/>
  </xsd:choice>
</xsd:group>

<xsd:element name="SpInstSCUBARef"      type="atx:compRefType"
	     substitutionGroup="atx:componentRef"/>
<xsd:element name="SpInstHeterodyneRef" type="atx:compRefType"
	     substitutionGroup="atx:componentRef"/>
</xsd:schema>
